#logo
{
    position: absolute;
    right: 0;
}

input[type=text], input[type=password] 
{
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    line-height: 1;
    color: #111;
}

.ui-widget-overlay 
{
    position: fixed;
    top: 0;
    background-color: #000; 
    opacity: 0.75;  
}

.ui-dialog 
{
    background-color: #fff; 
    border: 1px solid #000; 
}

.page
{
    margin-left: auto;
    margin-right:auto;
    width: 100%;
}

.login
{
    padding: 5%;
    width: 90%;
}

.header
{
    position: relative;
    height: 50px;
    width: 100%;
}

.sidebar
{
    float: right;
    width: 300px;
}

.content
{
    min-height: 500px;
    margin-right: 300px;
}

.footer
{
    width: 100%;
    clear: both;
}

body
{
    margin: 0;
    padding: 0;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/*
 * Style for Register Formular
----------------------------------------------------------*/
#ui-dialog-title-registerDialog {
    display: block;
    float: left;
    font-size: 24px;
    padding: 10px;
}

a.ui-dialog-titlebar-close
{
    float: right;
    display: inline-block;
    font-size: 24px;
    padding: 0 10px;
    text-decoration: none;
}


/*
 * Style for Konto
-----------------------------------------------------------*/
.content h2 
{
    background-color: #232323;
    color: #EEEEEE;
    padding: 20px;
}

#kontoMain .input 
{
    font-size: 20px;
}

.konto .gruppe 
{
    padding: 20px;
    border-bottom: 1px solid #232323;
}

.konto .input 
{
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    min-width: 200px;
}

.konto label 
{
    position: absolute;
    top: 27px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #666;
}


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
